<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.gyanoba.inspektor.utils.ContextInitializer"
                android:value="androidx.startup" />
        </provider>
        <provider
            android:name="com.gyanoba.inspektor.platform.InspektorFileProvider"
            android:authorities="${applicationId}.inspektor.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/inspektor_share_paths"/>
        </provider>
        <activity
            android:name="com.gyanoba.inspektor.MainActivity"
            android:label="Inspektor"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>

</manifest>